<a href="https://colab.research.google.com/github/lucasmontanheiro/colab/blob/main/Theory/Data_Science_01_Data_Preparation_03_Duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Remove duplicates

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

**Removing duplicates**

In [ ]:
DF_obj = DataFrame({'column 1':[1, 1, 2, 2, 3, 3, 3],
                    'column 2':['a', 'a', 'b', 'b', 'c', 'c', 'c'],
                    'column 3':['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [ ]:
#Drop duplicate ROWS
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
#Drop duplicate COLUMNS
DF_obj_b = DataFrame({'column 1':[1, 1, 2, 2, 3, 3, 3],
                    'column 2':['a', 'a', 'b', 'b', 'c', 'c', 'c'],
                    'column 3':['A', 'A', 'B', 'B', 'C', 'D', 'C']})
DF_obj_b.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D